@import "core/scss/vars";

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.layout {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 620px;
  width: 100%;
  border-radius: 28px;
  padding: 56px 64px 68px;
  background-color: $black-light-2;

  .title {
    text-align: center;
    font-size: 32px;
    margin: auto auto 42px;
  }
}
