@import "core/scss/vars";

.block {
  display: flex;
  gap: 12px;
  padding: 14px;

  .image {
    width: 40px;
    height: 40px;
  }

  .right {
    display: flex;
    flex-direction: column;

    .hint {
      color: $black-light-5;
    }
    .project {
      font-size: 16px;
    }
  }
}
