@import "core/scss/vars";

.layout {
  display: flex;
  .leftBar {
    height: 100vh;
    border-right: 1px solid $black-light-2;
  }

  .content {
    height: 100vh;
    padding: 40px 48px;
    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }
}
