@import "../../../scss/vars";

.button {
  margin: 0 auto;
}

.request {
  margin: 0 auto;
  color: $gray-1;
  text-decoration: none;

  &:hover {
    color: $green;
  }
}

.message {
  margin: 10px auto auto;
}

.success {
  color: $green;
}

.error {
  color: $red;
}
