.left {
  width: 560px;
  display: flex;
  flex-direction: column;
  gap: 14px;

  .top {
    .title {
      font-size: 34px;
      font-weight: 500;
    }

    .code {
      margin-top: 6px;
    }
  }
}
