@import "../../../scss/vars";

.block {
  display: flex;
  gap: 30px;

  background-color: $black-light-2;
  padding: 50px;
  border-radius: 20px;

  height: 600px;

  .loadingWrapper {
    width: 400px;
  }
}